# IDE and OS files
.idea
*.iml
.DS_Store

# Source files (only the compiled dist folder is needed)
src

# Local dependencies
node_modules

# TypeScript config file (not needed by the end-user)
tsconfig.json
